<html>
<head>
	<meta charset="UTF-8">
	<title>My first Sinatra App</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
<!--   <%= yield  %> -->

	 <a href="/contact_us">to get more information.</a>


	 <a href="/about_us"> Click it.</a>



	  <a href="/pictures"> Or Click here.</a>

	  <!--   Page specific content goes here   -->

	  <%= yield  %>

	   <img src="/images/punk5.jpg" alt="">

	  <!--  <%= Time.now%> -->

 
	  <footer>
	  	  YOLO.
	  </footer>
	<script type="text/javascript" src="/main.js"> </script>
</body>
</html>