<html>
<head>
	<meta charset="UTF-8">
	<title> Search Page</title>
</head>
<body>
   <h3> landing page </h3>




			 <%= @title %>
		           <br>
		           <br>
		           <br>
		       <%= @author %>
				
				  <br>
		           <br>
		           <br>

		           <img src="<%= @image %>" alt="">
		       


</body>
</html>