<html>
<head>
	<meta charset="UTF-8">
	<title> Google Books Search Page</title>
</head>
<body>

        <h1> Got Dem Books</h1>

	  <form action="/" method="POST">
          <input name="query" />
          <button>Search</button>
      </form>

	           <%= yield  %>

	     
        
</body>
</html>